<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%=page_title%>-<%=title%></title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/my.css">
		<link rel="stylesheet" type="text/css" href="/css/layui.css">
		<script type="text/javascript" src='/js/jquery-2.1.1.min.js'></script>
	</head>
	<body class="layui-layout-body">
 
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
    	<div style='display: inline-block;'> <%-include(page)%></div>
    </div>
  
  
 
 
 </body>
	<script type="text/javascript" src='/js/jquery.validate.min.js'></script>
	<script type="text/javascript" src='/js/jquery.validate.messages_zh.js'></script>
	<script type="text/javascript" src='/js/bootstrap.min.js'></script>
<!-- 	<script type="text/javascript" src='/js/vue.js'></script> -->
  <script type="text/javascript" src='/js/layui.all.js'></script>
	<script type="text/javascript" src='/js/common.js'></script>
</html>